/* Import */

/* Home Page */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid black;
  padding-bottom: 25px;
}
.contact {
  display: flex;
  gap: 30px;
}
.home-page-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  color: #323334;
}
.navigation-ul {
  display: flex;
  /* gap: 69px; */
  justify-content: space-evenly;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #323334;
}
.navigation {
  border-bottom: 1.5px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo-sv {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 45px;
}
/* Card */
.card-1 {
  display: flex;
  align-items: center;

  background: rgba(219, 208, 204, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-evenly;
}
.card-text-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  color: #323334;
}
.card-text-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;

  color: #a86a3d;
}
.text-all {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.viewNow {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  border: 1px solid #323334;

  color: #323334;

  padding: 10px;
}
.card-2 {
  width: 684px;
  margin-top: 23px;
  display: flex;
  align-items: center;
  background: #fafafa;
  /* padding-right: 41px; */
  /* padding: 150px 61px 185px 317px; */
}
.all-text-2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35px;
}
.row-card-1 {
  display: flex;
  justify-content: space-between;
  gap: 23px;
}
.card-2-color {
  background: #eae9e7;
}
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  color: #323334;
  width: 260px;
}

.card {
  width: 306px;
  height: 472px;
  overflow: hidden;
  position: relative;
  /* transition: .5s; */
}

.card-content {
  position: absolute;
  top: -9999px;
  left: 0;
  right: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  background: rgba(0, 0, 0, 0.384);
  transition: top 0.3s linear;
  flex-direction: column;
  padding-left: 49px;
  gap: 30px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 104px;
}
.card-title-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;

  color: #ffffff;
}

.text-card-3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */

  color: #ffffff;
}

.card:hover .card-content {
  top: 0;
  bottom: 0;

  transition: bottom 0.3s linear;
}

.text-card-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #323334;
}

.card-price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #323334;
}

.text-all-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card:hover .text-all-3 {
  display: none;
}

.text-all-3-mini {
  bottom: 0;
}
.card-mini {
  width: 306px;
  height: 472px;
  overflow: hidden;
  position: relative;

  padding-top: 50px;
}
.viewNow-whitw {
  border: 1px solid #fff;
  color: white;
}
/* ADD */

.add-badsheed {
  width: 100%;
  height: 510px;
  background-image: url(/src/img/section/mebel/add-mebel.png);
  background-size: cover;
  position: relative;
}
.add-badsheed-card {
  width: 545px;
  height: 338px;
  position: absolute;
  top: 109px;
  left: 147px;
  background: rgba(255, 255, 255, 0.9);

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 109px;
  gap: 16px;
}
.add-badsheed-card-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  color: #323334;
}
.add-badsheed-card-price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  color: #7b5136;
}
.add-badsheed-card-price span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  padding-left: 15px;
  color: #7b5136;
  position: relative;
}
.add-badsheed-card-price span::after {
  content: "";
  display: block;
  width: 60px;
  border-bottom: 1.5px solid black;
  position: absolute;
  right: 0;
  top: 8px;
}
.add-badsheed-card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */

  color: #323334;
}
/* Card-Material */

.card-material {
  width: 416px;
  height: 308px;

  overflow: hidden;

  cursor: pointer;

  display: flex;
  gap: 32px;

  transition: .5s;
}

.card-material:hover{
background-color: gray;
}

.card-info-material {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
}
.card-info-material p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  color: #323334;
}
.card-info-material h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #323334;
}
.card-material-row{
  display: flex;
  flex-wrap: wrap;
}